.loader-bar {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  background:white;
  &:after {
    display: block;
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $green;
    transform-origin: left center;
    will-change: transform;
    animation: loadingBar 1s infinite linear;
  }
}
@keyframes loadingBar {
  0% {
    transform-origin: left center;
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(1);
    transform-origin:left center;
    opacity: 1;
  }
  50.01% {
    transform-origin: right center;
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin:right center;
  }
}
